<!DOCTYPE html>
<html>
<head>
    <title>{TITLE}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />{CSS}{SCRIPT}
</head>
<body>
    <header>{LOGO}</header>
    <article>
        {TITLE-BODY}
        {BODY}
    </article>
    <script src="/js/metrika.js" defer="defer"></script>
    <footer>
       <span class="footer-item">Электропочта: <a href="mailto:hcodes@yandex.ru">hcodes@yandex.ru</a></span>
    </footer>
</body>
</html>