<!DOCTYPE html>
<html>
<head>
    <title>{TITLE}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />{CSS}{SCRIPT}
</head>
<body>
    <header>{LOGO}</header>
    <article>
        {TITLE-BODY}
        {BODY}
    </article>
    <footer>
        <ul class="footer-links">
            <li class="footer-links__item footer-links__item_left">📧 <a href="mailto:hcodes@yandex.ru">hcodes@yandex.ru</a></li>
            <li class="footer-links__item"><a href="/table/">Архив</a></li>
            <li class="footer-links__item"><a href="/notes/">Заметки</a></li>
            <li class="footer-links__item"><a href="https://github.com/hcodes" target="_blank">GitHub</a></li>
        </ul>
    </footer>
    <script src="/js/metrika.js" async></script>
</body>
</html>